.input[type=text]{

}
.input[type=checkbox]{
    
}
.input[type=radio]{
    
}
.input[type=submit]{
    
}
/* 크롬에서 나오는 아웃라인 요소검사로 hov로 찾아  복붙 none처리 */
/* reset cdn으로 처리할수도 있음 */
:focus-visible {
    outline:none
}

.container{
    max-width: 1280px;
    margin:0 auto;
}

.abs{
    position: absolute;
}
.rel{
    position: relative;
}
.d-flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.title{
    font-size: 2.6em;
    color: #222;
    margin-bottom: 1rem;
}

.subtitle{
    color: #666;
}
.subject{
    font-size: 2em;
    margin-bottom: 1rem;
    margin-top: 3rem;
    
}
#form{
    padding: 3rem 0;
}
.border-bottom{
    border-bottom: 1px solid #222;
    padding-bottom: 2rem;
}
.formlist{    
    padding: 3rem 0;
}
.formlist li{
    display: flex;
    font-size: 1.2em;
    padding: 0.5em 0;
}
.formlist li strong{
    width: 20%;
    font-weight: bold;
}
/* 체크를 부트아이콘으로 넣고 인라인블럭 설정으로 동그라미안체크모양 만들기 */
.formlist .before input[type=checkbox] + label::before{
    content:'\F272';
    font-family: bootstrap-icons;
    display: inline-block;
    border: 1px solid #666;
    width: 1.6em; line-height: 1.6em;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
}
/* checked만 넣으면 완성 */
.formlist .before input[type=checkbox]:checked + label::before{
    background-color: #ff6600;
    color: white;
    border-color: #ff6600;
}

/* label스스로 만들어  */
.formlist .label input[type=checkbox] + label{
    font-family: bootstrap-icons;
    display: inline-block;
    border: 1px solid #666;
    line-height: 1.6em;
    text-align: center;
    margin-right: 8px;
    padding: 0 1em;
}

.formlist .label input[type=checkbox]:checked + label{
    background-color: #ff6600;
    color: white;
    
}



/* 체크박스 없애기 */
.formlist input[type="checkbox"]{
    display: none;
}

[name="fm"] [type=submit]{
    background-color: #ff6600;
    color: white;
    line-height: 3;
    font-size: 1.5em;
    letter-spacing: -0.083em;
    border: 0;
    border-radius: 1em;
    padding: 0 1.8em;
    margin: 1rem auto;
    
}
#agree{display: none;}
#agree + label{
    display: flex;
    align-items: center;
}

#agree + label:before{
    content:"\F5D5";
    color:#666;
    font-family: bootstrap-icons;
    font-size: 1.4em;
    margin-right: 10px;

}
#agree:checked + label:before{
    content:"\F5D6";
    color:blue;
}
.agreebox{
    font-size: 1.2em;
    margin:1rem 0;
    
}

.nm + span{
    display: none;
}
.nm:focus + span{
    display: inline-block;
    color: red;
}
.mx-4{
    margin:0 0.25px;
}
.mx-8{
    margin: 0 8px;
}
input.normal{
    font-size: 1rem;
    line-height: 2.5;
    border: 1px solid #666;
    border-radius: 8px;
    text-indent: 1rem;
    /* margin:0 8px; */
}

.hp input{

}
       

/* 띄어쓰기 하면 부모자식으로 인식 */
select[name^="area"]{
    width: 16rem;
    font-size: 1rem;
    line-height: 2.5;
    height: 2.5rem;
}
.select{
    margin-bottom: 80px;
}
.familyBox{
    width: 16rem;
    cursor: pointer;
}
.familyBox h3{
    border: 1px solid #666;
    font-size: 1rem;
    line-height: 2.5;    
    text-align: center;
    position: relative;
    /* background-color: white;
    z-index:10; */ 
}
.familyBox ul{
    bottom: calc(100% - 1px);
    left:0; right:0;
    border: 1px solid #666;
    border-bottom: 0;
    font-size: 1rem;
    line-height: 2.5;
    background-color: white;
    text-indent: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s; /*원하는곳만 트렌지션*/
}
.familyBox:hover ul{
    max-height: 450px;
    bottom:100%;
}
.familyBox h3:after{
    content: "\F286";
    font-family: bootstrap-icons;
    position: absolute;
    right:1rem;
    
}
.familyBox:hover h3:after{
    content: "\F282";
}
.formlist.rwd{
    width: 16rem;
}
.formlist.rwd .nm{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.formlist.rwd li{
    display: block;
}
.hp p{
    justify-content: space-between;
    align-items: center;
}
.hp p input{
    /* flex-grow: 1; 똑같이 나눠먹어라 */
    width: calc(33.333% - 1rem);
}